In [1]:
import pandas as pd

In [2]:
links = pd.read_csv('C:/Users/Krystian/OneDrive - Politechnika Warszawska/sem6/proj inz/The Movies Dataset/data/links.csv', low_memory=False)

In [3]:
links

       movieId   imdbId    tmdbId
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
45838   176269  6209470  439050.0
45839   176271  2028550  111109.0
45840   176273   303758   67758.0
45841   176275     8536  227506.0
45842   176279  6980792  461257.0

[45843 rows x 3 columns]

In [4]:
links.shape

(45843, 3)

In [5]:
if 'tmdbId' in links.columns:
    links = links.drop(columns='tmdbId')

In [6]:
links.shape

(45843, 2)

In [7]:
links

       movieId   imdbId
0            1   114709
1            2   113497
2            3   113228
3            4   114885
4            5   113041
...        ...      ...
45838   176269  6209470
45839   176271  2028550
45840   176273   303758
45841   176275     8536
45842   176279  6980792

[45843 rows x 2 columns]

In [8]:
links.to_csv('data/cleaned_links.csv', index=False)